.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.summary ul {
    list-style-type: none;
}

#logo img, #logo a
{
    display:inline-block; 
    max-height:80px; 
    margin: -5px auto;
}

.navbar-default .navbar-brand .img-responsive
{
    width: 100%;
    height: auto;  
    display: block; 
}


main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main .list-group
{
    font-size: Larger;
    text-align: left;
    width: auto;
    
}

main .list-group .list-group-item-info
{
    font-weight: bolder;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td, th
{
    /* left-align tables' cells */
    padding: 5px;
    text-align: left;
}

main .pos
{
    color: #5cb85c;
    font-weight: bold;
}

main .neg
{
    color:#d9534f;
    font-weight: bold;
}

main tr:nth-child(even) {background-color: #f2f2f2}

main p
{
    text-align: left;
}

body
{
    font-family:'Arvo', serif;
}

.buy:hover
{
    background-color:#5cb85c;
}

.sell:hover
{
    background-color:#d9534f;
}