@model IEnumerable<StocksPortfolio.Models.TransactionDTO>
@{
    ViewData["Title"] = "History";
}

<div class="col-md-12" style="margin-top:-20px"><h2>Transaction History</h2><hr /></div>
<div class="portfolio">
    <table style="width:100%">
        <tr>
            <th>Transaction</th>
            <th>Date</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        @foreach (var stock in Model)
        {
            <tr>
                @if (stock.Buy == true)
                {
                    <td class="pos">Buy</td>
                }
                else
                {
                    <td class="neg">Sell</td>
                }
                <td width=22%>@stock.Date</td>
                <td>@stock.Symbol</td>
                <td>@stock.Company</td>
                <td>@stock.Quantity</td>
                <td>$@stock.Price.ToString("N2")</td>
                <td>$@((stock.Price*stock.Quantity).ToString("N2"))</td>
            </tr>
        }
    </table>
</div>

