@{
    ViewData["Title"] = "Welcome";
}
<div class="col-md-12">
    <div><h2>Welcome to FoxStocks!</h2></div>
    <div>
        <p>This app allows you to create a live stocks portfolio (with fake money!)</p>
        <a asp-controller="Home" asp-action="Portfolio" class="btn btn-lg btn-success">View my portfolio</a>
    </div>
</div>