@model TransactionModel
@{
    ViewData["Title"] = "Sell";
}
<div class="row">
    <div class="col-md-12" >
        <div class="col-md-6 col-md-offset-3">
            <form method="post" align="left" asp-antiforgery="true">
                <fieldset>
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group">
                        <label asp-for="Symbol">Company Symbol</label>
                        <div>
                            @if (ViewBag.Symbol == null)
                            {
                                <input autocomplete="off" class="form-control" asp-for="Symbol" type="text" autofocus" required/>
                            }
                            else
                            {
                                <input autocomplete="off" class="form-control" asp-for="Symbol" type="text" value="@ViewData["Symbol"]" required/>
                            }
                            <span asp-validation-for="Symbol" class="text-muted"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity">Quantity</label>
                        <div>
                            <input autocomplete="off" autofocus class="form-control" asp-for="Quantity" type="number" required/>
                            <span asp-validation-for="Quantity" class="text-muted"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">Sell</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div></div>
