@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-controller="Auth" asp-action="Logout">Logout
            </a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Auth" asp-action="Register">Register</a></li>
        <li><a asp-controller="Auth" asp-action="Login">Log In</a></li>
    </ul>
}
